# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 2022
.vs/
*.sln
*.suo
*.user
*.userprefs
*.cache
*.pdb
*.ipch/
*.obj
*.bin
*.log
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
